<%= form_with model: @video, url: url, class: "ctmf", data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", instead: @video %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :visibility %>
    <%= f.select :visibility, Video.visibilities.keys.map { |k| [t("activerecord.enums.video.visibility.#{k}"), k] }, {} %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, Video.statuses.keys.map { |k| [t("activerecord.enums.video.status.#{k}"), k] }, {} %>
  </div>

  <%= f.submit %>
<% end %>
