<div>
  <%= video_tag(video.video_url, alt: "#{video.name}", style: "width: 140px;", controls: true) %>
  <div><strong>aid:</strong> <%= video.aid %></div>
  <div><strong>name:</strong> <%= video.name %></div>
  <div><strong>description:</strong> <%= video.description %></div>
  <div><strong>visibility:</strong> <%= video.visibility %></div>
  <div><strong>status:</strong>
    <span style="color: <%= status_color(video.status) %>">
      ●<%= video.status %>■
    </span>
  </div>
  <hr />
</div>
