<div>
  <div>
    <strong>image:</strong>
    <% if emoji.image.present? %>
      <%= image_tag emoji.image_url %>
    <% else %>
      画像がありません
    <% end %>
  </div>
  <div><strong>aid:</strong> <%= emoji.aid %></div>
  <div><strong>name:</strong> <%= emoji.name %></div>
  <div><strong>name_id:</strong> <%= emoji.name_id %></div>
  <div><strong>group:</strong> <%= emoji.group.presence || "未設定" %></div>
  <div><strong>subgroup:</strong> <%= emoji.subgroup.presence || "未設定" %></div>
  <div><strong>description:</strong> <%= emoji.description %></div>
  <div><strong>status:</strong>
    <span style="color: <%= status_color(emoji.status) %>">
      ●<%= emoji.status %>■
    </span>
  </div>
</div>
