<div class="post">
  <div>
    <div>
      <%= image_tag @post.account.icon_url %>
    </div>
    <div>
      <div>
        <%= @post.account.name %>
      </div>
      <div>
        <%= @post.account.name_id %>
      </div>
    </div>
  </div>
  <hr />
  <p><%= @post.content %></p>
  <% @post.images.each do |image| %>
    <%= image_tag image.image_url %>
  <% end %>
  <hr />
  <p><em><%= @post.created_at.strftime("%Y-%m-%d") %></em></p>

  <div class="post-reactions" style="margin-bottom: 10px;">
    <% my_reacted_emoji_ids = @current_account ? @post.reactions.where(account: @current_account).pluck(:emoji_id) : [] %>
    <% @post.reactions.group(:emoji).count.each do |emoji, count| %>
      <% is_reacted_by_me = my_reacted_emoji_ids.include?(emoji.id) %>
      <div style="display: inline-block; border: 1px solid <%= is_reacted_by_me ? '#007bff' : '#ccc' %>; background-color: <%= is_reacted_by_me ? '#e7f1ff' : 'transparent' %>; border-radius: 10px; padding: 2px 5px; margin-right: 5px;">
          <% if emoji.image %>
             <%= image_tag emoji.image_url, style: "width: 20px; height: 20px; vertical-align: middle;" %>
          <% else %>
             <%= emoji.name %>
          <% end %>
          <span style="margin-left: 3px;"><%= count %></span>
      </div>
    <% end %>
  </div>

  <div>
    <%= render "emojis/picker", mode: 'reaction', target_id: @post.aid %>
    reactions, replies, quotes, views, menu.
  </div>
</div>
