<div>
  <%= image_tag(image.image_url, alt: "#{image.name}", style: "width: 140px;") %>
  <div><strong>aid:</strong> <%= image.aid %></div>
  <div><strong>name:</strong> <%= image.name %></div>
  <div><strong>description:</strong> <%= image.description %></div>
  <div><strong>visibility:</strong> <%= image.visibility %></div>
  <div><strong>status:</strong>
    <span style="color: <%= status_color(image.status) %>">
      ●<%= image.status %>■
    </span>
  </div>
</div>
