<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(content_for(:title) || "") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Amiverse API">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="generator" content="Amiverse API" />
    <meta name="description" content="Amiverse API" />
    <meta name="keywords" content="Amiverse API" />
    <meta name="robots" content="noindex, nofollow, noarchive" />

    <meta property="og:image" content="<%= full_url("/static_assets/images/amiverse-1.webp") %>" />
    <meta name="twitter:card" content="summary_large_image" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.ico" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Amiverse", root_path %></h1>
      <nav>
        <%= link_to "ホーム", root_path %> |
        <%= link_to "セッション", sessions_path %> |
        <%= link_to "画像", images_path %>
      </nav>
      <div>
        <% if @current_account %>
          サインイン中: <%= @current_account.name %> <small>@<%= @current_account.name_id %></small>
        <% else %>
          サインインしていません
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <div id="flash">
      <%= render "shared/flash" %>
    </div>

    <footer>
      <p>&copy; Amiverse</p>
    </footer>
  </body>
</html>
